html,
body {
    background-image: url(../images/firebg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

canvas {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: url(../images/torch.png);
}

canvas:active{
    cursor: url(../images/torch.png);
}
