@import 'https://fonts.googleapis.com/css?family=Raleway:200,400';


body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

#splash-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  letter-spacing: 20px;
    
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #90D4C9,
        0 0 70px #90D4C9,
        0 0 80px #90D4C9,
        0 0 100px #90D4C9,
        0 0 150px #90D4C9;
}

span {
  display: inline-block;
}

#splash-symbols {
    z-index: -10;
    position: absolute;
    top: 50%;
    left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);   
}

#splash-symbols img {
    opacity: .7;
    width:150px;
}

#enter_button{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 16px;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;

}

a#enter_button: hover {
    box-shadow: 0 0 40px 40px $red inset;
    background-color:aquamarine;
}
/*#enter_button {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $red; inset;
  }
}*/

.letter {
  -webkit-transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
  transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
  transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease;
  transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.letter:nth-of-type(2) {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
}
.letter:nth-of-type(3) {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
  -webkit-transition-duration: 3.84615s;
          transition-duration: 3.84615s;
}
.letter:nth-of-type(4) {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition-duration: 3.33333s;
          transition-duration: 3.33333s;
}
.letter:nth-of-type(5) {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
}
.letter:nth-of-type(6) {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateY(-180px);
          transform: translateY(-180px);
  -webkit-transition-duration: 2.17391s;
          transition-duration: 2.17391s;
}
.letter.loaded {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-filter: blur(0);
          filter: blur(0);
}
